<textarea class="program-input"
  {{on "input" (set this.program (get _ "target.value"))}}
  {{did-insert this.didInsertTextarea}}
>
  {{this.program}}
</textarea>
<p></p>
<input type="submit" {{on "click" (fn this.args.runProgram this.program)}} value="Run Program">
<p></p>