<div class="table-container">
  <div
    class="table-grid"
    {{did-insert this.didInsertGrid}}
  ></div>
  <canvas
    id="table-top"
    width={{this.width}}
    height={{this.height}}
    {{did-insert this.args.didInsertCanvas}}
  ></canvas>
</div>
