<h1>Programmable Toy Robot</h1>

<ToyRobotApp />

<footer>
  <hr>
  <p>
    <small>
      Robot sprite used with permission from: <a href="https://www.deviantart.com/chasz-manequin/art/Walking-robot-sprites-314202588">deviantart.com/chasz-manequin</a>
    </small>
  </p>
</footer>
